@import "@fortawesome/fontawesome-free/css/all.min.css";


body {
    background-image: url('/src/Images/fundo_pag.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hutVtS{
  width: 70vw;
  min-height: 100vh;
}
::-webkit-scrollbar {
    width: 7px; 
    height: 12px; 
    background-color: #fff;
  }


  ::-webkit-scrollbar-thumb {
    background: var(--brand-mid);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--brand-deep);
  }