@import "@fortawesome/fontawesome-free/css/all.min.css";

body {
    background-image: url('/src/Images/fundo_pag.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}